{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    <title>Ghini - Taxasoft BG</title>
    <meta name="author" content="Mario Frasca" >
    <meta name="copyright" content="Mario Frasca">
    <meta name="License" content="AGPL3">
    <meta name="description" content="">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="expires" content="0">


    <!-- CSS libraries-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
    {% leaflet_css %}
    {% leaflet_css plugins="forms" %}
    <!-- ./ CSS libraries-->

    <!-- JS libraries -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="/static/django_select2/django_select2.js"></script>
    {% leaflet_js %}
    {% leaflet_js plugins="forms" %}
    <script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>
    <!-- ./ JS libraries -->

    <script>
     function uuid4() { // Public Domain/MIT
         var d = new Date().getTime();
         if (performance != null && typeof performance.now === 'function') {
             d += performance.now(); //use high-precision timer if available
         }
         return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
             var r = (d + Math.random() * 16) % 16 | 0;
             d = Math.floor(d / 16);
             return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
         });
     }
     $(function() {  // run at document ready
         'use strict';

         //  ValueError :: String -> Error
         function ValueError(message) {
             var err = new Error(message);
             err.name = 'ValueError';
             return err;
         }

         //  create :: Object -> String,*... -> String
         function create(transformers) {
             return function(template) {
                 var args = Array.prototype.slice.call(arguments, 1);
                 var idx = 0;
                 var state = 'UNDEFINED';
                 var pattern = /^([<>])?([0-9]*)(?:\.([0-9]*))?([a-z])$/;

                 return template.replace(
                     /([{}])\1|[{](.*?)(?:!(.+?))?[}]/g,
                     function(match, literal, _key, xf) {
                         if (literal != null) {
                             return literal;
                         }
                         var key = _key;
                         if (key.length > 0) {
                             if (state === 'IMPLICIT') {
                                 throw ValueError('cannot switch from ' +
                                                  'implicit to explicit numbering');
                             }
                             state = 'EXPLICIT';
                         } else {
                             if (state === 'EXPLICIT') {
                                 throw ValueError('cannot switch from ' +
                                                  'explicit to implicit numbering');
                             }
                             state = 'IMPLICIT';
                             key = String(idx);
                             idx += 1;
                         }

                         //  1.  Split the key into a lookup path.
                         //  2.  If the first path component is not an index, prepend '0'.
                         //  3.  Reduce the lookup path to a single result. If the lookup
                         //      succeeds the result is a singleton array containing the
                         //      value at the lookup path; otherwise the result is [].
                         //  4.  Unwrap the result by reducing with '' as the default value.
                         var specify;
                         [key, specify] = key.split(':');
                         var path = key.split('.');
                         var value = (/^\d+$/.test(path[0]) ? path : ['0'].concat(path))
                             .reduce(function(maybe, key) {
                                 return maybe.reduce(function(_, x) {
                                     return x != null && key in Object(x) ?
                                            [typeof x[key] === 'function' ? x[key]() : x[key]] :
                                            [];
                                 }, []);
                             }, [args])
                             .reduce(function(_, x) { return x; }, '');
                         if (xf != null) {
                             if (Object.prototype.hasOwnProperty.call(transformers, xf)) {
                                 value = transformers[xf](value);
                             } else {
                                 throw ValueError('no transformer named "' + xf + '"');
                             }
                         }
                         if (specify !== undefined && typeof value === 'number') {
                             var align, len, digits, letter;
                             [specify, align, len, digits, letter] = pattern.exec(specify);
                             if (specify != null) {
                                 len = Number(len);
                                 digits = Number(digits);
                                 value = value.toFixed(digits);
                             }
                         }
                         return value;
                     }
                 );
             };
         }

         //  format :: String,*... -> String
         var format = create({});

         //  format.create :: Object -> String,*... -> String
         format.create = create;

         //  format.extend :: Object,Object -> ()
         format.extend = function(prototype, transformers) {
             var $format = create(transformers);
             prototype.format = function() {
                 var args = Array.prototype.slice.call(arguments);
                 args.unshift(this);
                 return $format.apply(this, args);
             };
         };

         /* istanbul ignore if */
         format.extend(String.prototype, {});

     });
    </script>
    <style>
     .btn-separator:after {
         content: ' ';
         display: block;
         float: left;
         margin: 0 3px;
         height: 34px;
         width: 0px;
     }
    </style>
    {% block content %}
    {% endblock %}
  </body>
</html>
