{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ghini - Taxasoft BG</title>
    <meta name="author" content="Mario Frasca" >
    <meta name="copyright" content="Mario Frasca">
    <meta name="License" content="AGPL3">
    <meta name="description" content="">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="expires" content="0">

    <!-- CSS libraries-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" crossorigin="anonymous">
    <!-- ./ CSS libraries-->
    <!-- JS libraries -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
    <!-- ./ JS libraries -->
    <style>
     .btn-separator:after {
         content: ' ';
         display: block;
         float: left;
         background: #ADADAD;
         margin: 0 3px;
         height: 34px;
         width: 0px;
     }
    </style>
    <script type="text/javascript">
     var search_history, forward_history;
     var csrf_token;

     function partial(func, ...argsBound) {
         return function(...args) { // (*)
             return func.call(this, ...argsBound, ...args);
         }
     }

     function replace_search_filter(value, e) {
         $('#search-filter').val(value);
         $('#search-filter-button').trigger('click');
     }

     function activate_infobox(url, e) {
         $('td').removeClass('table-success');
         console.log(e.target)
         $(e.target).attr("disabled", "disabled");
         $('#infobox-object-text').empty();
         $('#infobox-object-text').append($(e.target).clone());
         $(e.target).addClass('table-success');
         var tbody = $('#infobox-table-body');
         tbody.empty();
         $.getJSON(url, function(data) {
             tbody.empty();
             var tr, td;
             jQuery.each(data, function(key, value) {
                 if (!key.startsWith('__') && value !== null && value !== '') {
                     tr = $("<tr></tr>");
                     tbody.append(tr);  // add it as last child
                     tr.append($('<td width="40%">' + key + '</td>'));
                     if(value[0] === 'link') {
                         td = $('<td>' + value[1] + '</td>');
                         td.click(partial(replace_search_filter, value[2]));
                         td.addClass('list-group-item-action');
                         tr.append(td);
                     } else {
                         tr.append($('<td>' + value + '</td>'));
                     }
                 }
             });
             $(e.target).removeAttr("disabled");
         });
     }

     if (!Array.prototype.last){
         Array.prototype.last = function(){
             return this[this.length - 1];
         };
     };

     function clean_history(e) {
         search_history.length = 0;
         forward_history.length = 0;
         $('#search-filter').val('');
         $('#infobox-object-text').empty();
         $('#infobox-table-body').empty();
         $('#results-table-body').empty();
     }

     function lookup(e, term) {
         $('.search-filter').attr("disabled", "disabled");
         if(term === undefined) {
             term = $('#search-filter').val();
             if(search_history.last() !== term && forward_history.last() !== term)
                 search_history.push(term);
         } else {
             $('#search-filter').val(term);
         }
         $('#infobox-object-text').empty();
         $('#infobox-table-body').empty();
         var tbody = $('#results-table-body');
         tbody.empty();

         api_url = '/browse/filter/?q=' + $('#search-filter').val();
         $.getJSON(api_url, function(data) {
             var tr, td;
             var first_td;
             jQuery.each(data, function(class_name, list_for_class) {
                 jQuery.each(list_for_class, function(index, item) {
                     tr = $('<tr class="' + class_name + '-row"></tr>');
                     td = $('<td>' + item.inline + '</td>');
                     $(td).attr('data-infobox-url', item.infobox_url);
                     tbody.append(tr);  // add it as last child
                     tr.append(td);
                     tr.click(partial(activate_infobox, item.infobox_url));
                     first_td = first_td || td;
                 });
                 $("body").on("contextmenu", "tbody tr." + class_name + '-row',
                              partial(function(class_name, e) {
                                  $(e.target).trigger('click');
                                  $('#ContextMenu-' + class_name).css({
                                      display: "block",
                                      left: e.pageX - 4,
                                      top: e.pageY - 6
                                  });
                                  return false;
                              }, class_name));
             });
             if (first_td) {
                 $(first_td).trigger('click');
             }
             $('.search-filter').removeAttr("disabled");

             $('body').on("click", function() {
                 $('.context-menu').hide();
             });
         })
     }

     function follow_history(to_pop, to_push, e) {
         if(to_pop.length !== 0) {
             var term = to_pop.pop();
             to_push.push(term);
             if ($('#search-filter').val() === term && to_pop.length !== 0) {
                 term = to_pop.pop();
                 to_push.push(term);
             }

             lookup(e, term);
         }
     }

     function populate_edit_form() {}
     function populate_plant_form() {}

     function populate_delete_form(data) {
         var tbody = $('#modal-delete-tbody');
         tbody.empty();
         tbody.append($('<p>' + data.__class_name__ + '</p>'));
         tbody.append($('<p>' + data.__shows_as__ + '</p>'));
     }

     function perform_on_selected(operation, e) {
         // url to get the data
         var api_url = $('td.table-success').attr('data-infobox-url');
         // function that populates the form
         var populate_form = {'edit': populate_edit_form,
                              'delete': populate_delete_form,
                              'add-plant': populate_plant_form,
                              'split-plant': populate_plant_form,
                              'add-sub-taxon': populate_edit_form }[operation];
         // get the data
         $.getJSON(api_url, function(data) {
             // set the 'proceed' callback
             $('button.action-confirm').unbind('click');
             $('button.action-confirm').click(partial(function(detail_url, e){
                 $.ajax({
                     url: detail_url,
                     method: 'DELETE',
                     contentType: 'application/json',
                     beforeSend: function (request) {
                         request.setRequestHeader('X-CSRFToken', csrf_token);
                     },
                     success: function(result) {
                         console.log(result);
                         // handle success
                     },
                     error: function(request, msg, error) {
                         console.log(request, msg, error);
                         // handle failure
                     }
                 });
             }, data.__detail_url__));
             // populate the form
             populate_form(data);
             // show the form
             $("#modal-" + operation).modal();
         })
     }

     function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = cookies[i].trim();
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }

     $(function() {  // run at document ready
         $('#search-filter').on('keypress', function (e) {
             if(e.which === 13) {
                 lookup(e);
             }
         });
         csrf_token = getCookie('csrftoken');

         $('#search-filter-button').click(lookup);
         search_history = [];
         forward_history = [];
         $('#pop-from-history').click(partial(follow_history, search_history, forward_history));
         $('#forward-in-history').click(partial(follow_history, forward_history, search_history));
         $('#clean-history').click(clean_history);

         $("body").bind('contextmenu', function (e) {
             e.preventDefault(); // prevents default menu
         });
         jQuery.each(['edit', 'add-plant', 'split-plant', 'delete', 'add-sub-taxon'],
                     function(index, item) {
                         $('a.btn-' + item).click(partial(perform_on_selected, item));
                     });
     });
    </script>
  </head>
  <body class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><img src="{% static 'taxasoft-32.png' %}"/></a>
      <a class="navbar-brand" href="#"><img src="{% static 'ghini-32.png' %}"/></a>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Insert</a>
          <div class="dropdown-menu" id="insert-menu">
            <a class="dropdown-item" href="#">Taxon</a>
            <a class="dropdown-item" href="#">Contact</a>
            <a class="dropdown-item" href="#">Accession</a>
            <a class="dropdown-item" href="#">Plant</a>
            <a class="dropdown-item" href="#">Location</a>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Tools</a>
          <div class="dropdown-menu" id="tools-menu">
            <a class="dropdown-item" href="#">Institution</a>
            <a class="dropdown-item" href="#">Backup</a>
            <a class="dropdown-item" href="#">Import</a>
            <a class="dropdown-item" href="#">Export</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Tags
          </a>
          <div class="dropdown-menu" id="tags-menu">
            <a class="dropdown-item" href="#">Apply Tag</a>
          </div>
        </li>
      </ul>
      <div class="navbar-nav col-sm-8">
        <div class="input-group">
          <button class="btn btn-light" id="pop-from-history">
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-light" id="forward-in-history">
            <span class="fa fa-arrow-right"></span>
          </button>
          <button class="btn btn-light" id="clean-history">
            <span class="fa fa-paint-brush"></span>
          </button>
          <span class="btn-separator"></span>
          <input type="text" class="form-control" id="search-filter" placeholder="your garden search">
          <div class="input-group-append">
            <button class="btn btn-success" id="search-filter-button">
              <span class="fa fa-refresh"></span>
            </button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-success" id="query-builder-button">
              <span class="fa fa-gears"></span>
            </button>
          </div>
        </div>
      </div>

    </nav>

    <div id="ContextMenu-AccessionList" class="context-menu dropdown-menu">
      <a class="dropdown-item btn-edit" href="#">Edit</a>
      <a class="dropdown-item btn-add-verification" href="#">Add verification</a>
      <a class="dropdown-item btn-add-plant" href="#">Add Plant</a>
      <a class="dropdown-item btn-delete" href="#">Delete</a>
    </div>

    <div id="ContextMenu-PlantList" class="context-menu dropdown-menu">
      <a class="dropdown-item btn-edit" href="#">Edit</a>
      <a class="dropdown-item btn-split-plant" href="#">Split Plant</a>
      <a class="dropdown-item btn-delete" href="#">Delete</a>
    </div>

    <div id="ContextMenu-LocationList" class="context-menu dropdown-menu">
      <a class="dropdown-item btn-edit" href="#">Edit</a>
      <a class="dropdown-item btn-delete" href="#">Delete</a>
    </div>

    <div id="ContextMenu-ContactList" class="context-menu dropdown-menu">
      <a class="dropdown-item btn-edit" href="#">Edit</a>
      <a class="dropdown-item btn-delete" href="#">Delete</a>
    </div>

    <div id="ContextMenu-TaxonList" class="context-menu dropdown-menu">
      <a class="dropdown-item btn-edit" href="#">Edit</a>
      <a class="dropdown-item btn-add-sub-taxon" href="#">Add sub taxon</a>
      <a class="dropdown-item btn-add-verification" href="#">Add verification</a>
      <a class="dropdown-item btn-delete" href="#">Delete</a>
    </div>

    <div class="row">
      <div class="col-7">
        <table class="table">
          <thead>
            <tr>
              <th>results list</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-5">
        <table class="table">
          <thead>
            <tr>
              <th>info box for selected row</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-7" style="height:500px;overflow-y:scroll">
        <table class="table table-hover">
          <tbody id="results-table-body">
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <h5 id="infobox-object-text"></h5>
        <table class="table">
          <tbody id="infobox-table-body">
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal" id="modal-delete">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirm Deletion</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="modal-delete-tbody">

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger action-confirm" data-dismiss="modal">Delete</button>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
