{% extends "base.html" %}
{% load static %}

{% block content %}
<style TYPE="text/css">
 <!--
 * {
     box-sizing: border-box;
 }

 /* Position the image container (needed to position the left and right arrows) */
 .container {
     position: relative;
 }

 /* Hide the images by default */
 .mySlides {
     display: none;
 }

 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
     cursor: pointer;
 }

 /* Next & previous buttons */
 .prev,
 .next {
     cursor: pointer;
     position: absolute;
     top: 0;
     width: auto;
     height: 100%;
     padding: 32px 16px;
     color: black;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
 }

 /* Position the "next button" to the right */
 .next {
     right: 16px;
     border-radius: 0 3px 0 3px;
 }

 /* On hover, add a background color with enough see-through */
 .prev:hover,
 .next:hover {
     background-color: rgba(200, 250, 0, 0.4);
 }

 /* Container for image text */
 .caption-container {
     position: fixed;
     height: 58px;  /* should match top-nav-bar */
     width: 100%;
     top: 0;
     font-weight: bold;
     font-size: 18px;
     text-align: center;
     background-color: #25387d;
     padding: 2px 16px;
     color: white;
     z-index: 4;
 }

 .scrollable {
     width: 100%;
     z-index: -1;
 }

 .thumbs-row {
     margin-right: 0;
 }

 .thumbs-row:after {
     content: "";
     display: table;
     clear: both;
 }

 /* Six columns side by side */
 .thumbs-column {
     float: left;
     margin-left: 6px;
     margin-bottom: 6px;
 }

 /* Add a transparency effect for thumnbail images */
 .thumbs-element {
     margin-left: 6px;
     border-width: thin !important;
     border-style: solid !important;
     border: white;
     opacity: 0.6;
 }

 .active,
 .thumbs-element:hover {
     opacity: 1;
 }

 .sidenav {
     height: 100%;
     margin-left: 0px;
     width: 32px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #25387d;
     overflow-x: hidden;
     padding-top: 20px;
     writing-mode: vertical-rl;
     transform: rotate(-180deg);
 }

 .sidenav a, .sidenav i {
     float: left;
     padding: 12px 2px 18px 24px;
     text-decoration: none;
     font-size: 18px;
     font-weight: bold;
     color: #40d66d;
     display: block;
     cursor: pointer;
 }

 .sidenav a:hover {
     color: #f1f1f1;
 }

 .sidenav a.active {
     color: #f0ce48;
 }

 .not-sidebar {
     margin-left: 32px; /* Same as the width of the sidenav */
 }

 @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
 }
 span.side, span.sub {
     font-size: small;
 }
 span.side {
     margin: 2px 0 0 20px;
 }
 span.content, span.sub {
     margin: 0 0 0 5px;
 }
 span.content {
     font-weight: bold;
 }
 -->
</style>
<script type="text/javascript">
 var search_history, forward_history;
 var csrf_token;
 var current_url;
 var tokens = {};
 var twolinestemplate='<td><div class="row"><span class="content">{0.item}</span><span class="side">{0.side}</span></div><div class="row"><span class="sub">{0.sub}</span></div></td>';

 var hash_parts

 var markerBounds;
 var map,
     objects_layer = {},
     objects_container = {},
     models = {},
     markers = {};    // all markers!!!

 // highlighted markers!
 markers.highlighted = [];


 var collection_icon = {
     'Taxon': 'terminal',
     'Accession': 'vcard-o',
     'Contact': 'user-circle',
     'Plant': 'tree',
     'Location': 'umbrella'
 }

 function partial(func, ...argsBound) {
     return function(...args) {
         return func.call(this, ...argsBound, ...args);
     }
 }

 function set_alternative(selector, lead, trail) {
     selector.not('.awesome-marker-shadow').removeClass(function (index, css) {
         return (css.split(' ').filter(function(x) {
             return x.toString().match("^" + lead);
         }).join(' '));
     });
     selector.not('.awesome-marker-shadow').addClass(lead + '-' + trail);
 }

 function replace_search_filter(value, e) {
     $('#search-filter').val(value);
     $('#search-filter-button').trigger('click');
     updateLocationHash();
 }

 function replace_tbody_with_dictionary(tbody, url, data) {
     if(url !== current_url) {
         console.log('got answer for »{}« while we moved to »{}«'.format(url, current_url))
         return;
     }
     tbody.empty();
     var tr, td, is_collapsible, btn, target_id, additional, div0;
     if('plant pictures' in data && data['plant pictures'] !== 0) {
         $('#pictures-tabber').text('Pictures ({})'.format(data['plant pictures']));
     } else if('pictures' in data && data['pictures'] !== 0) {
         $('#pictures-tabber').text('Pictures ({})'.format(data['pictures']));
     } else {
         $('#pictures-tabber').text('(Pictures)');
     }
     jQuery.each(data, function(key, value) {
         if (!key.startsWith('__') && value != null && value !== '') {
             tr = $("<tr></tr>");
             tbody.append(tr);  // add it as last child
             if (key.endsWith('+')) {
                 key = key.slice(0, -1);
                 target_id = 'info-{}'.format(key);
                 additional = ' id="{}" class="collapse"'.format(target_id);
                 btn = $('<button style="margin-left:10px" class="fa fa-plus-square-o" data-toggle="collapse" data-target="#{}"></button>'.format(target_id));
             } else {
                 additional = '';
                 btn = undefined;
             }
             tr.append($('<td width="40%">' + key.replace('_', ' ') + '</td>'));
             if(btn)
                 $(tr).find('td').append(btn);
             td = $('<td></td>');
             tr.append(td);
             if(value[0] === 'link') {
                 if (typeof value[1] === 'string' || typeof value[1] === 'number') {  // single element
                     div0 = $('<div{}>{}</div>'.format(additional, value[1]));
                     td.append(div0);
                     div0.addClass('list-group-item-action');
                     div0.click(partial(replace_search_filter, value[2]));
                     if(value[3] !== undefined)
                         div0.attr('title', value[3]);
                 } else {  // list of links
                     div0 = $('<div{}></div>'.format(additional))
                     td.append(div0);
                     var div;
                     jQuery.each(value[1], function(i, x) {
                         div = $('<div>{}</div>'.format(x[0]))
                         div.addClass('list-group-item-action');
                         div.click(partial(replace_search_filter, x[1]));
                         if(x[2] !== undefined)
                             div.attr('title', x[2]);
                         div0.append(div)
                     })
                 }
             } else if(key === 'geometry') {
                 td.append($('<div{0}>N: {1.coordinates.1:0.5f}, E: {1.coordinates.0:0.5f}</div>'.format(additional, value)));
             } else {
                 td.append($('<div{}>{}</div>'.format(additional, value)));
             }
         }
     });
     if (typeof e !== 'undefined')
         $(e.delegateTarget).removeAttr("disabled");
 }

 function update_infobox(url, e) {
     if (e != null)
         $(e.delegateTarget).attr("disabled", "disabled");
     if (url === current_url) {
         return;
     }
     current_url = url;
     { // pictures pane
         $('#pictures-pane').empty();
         $('#pictures-pane').append($('<i class="fa fa-spinner fa-spin" style="font-size:32px;color:red;margin:32px;"></i>'));
         $.get(url.replace('infobox/', 'carousel/'), function(data, status) {
             console.log(status);
             $('#pictures-pane').empty();
             $('#pictures-pane').append($(data));
             currentSlide(1);
         });
     }
     $('tr').removeClass('table-success');
     if (e != null) {
         $('#infobox-object-text').empty();
         $('#infobox-object-text').append($(e.delegateTarget).find('span.content').clone());
         $(e.delegateTarget).addClass('table-success');
         { // map pane
             var this_marker = $('.plant-marker.{}'.format(e.delegateTarget.id)).not('.awesome-marker-shadow');
             set_alternative($('.plant-marker'), 'awesome-marker-icon', 'blue');
             set_alternative(this_marker, 'awesome-marker-icon', 'orange');
             try {
                 var point = markers[this_marker[0].id].getLatLng();
                 if (!map.getBounds().contains(point))
                     map.panTo(point);
             } catch (e) { console.log(e); }
         }
     }
     $('#infobox-table tbody').empty();
     if(url.match('taxonomy/taxon/')) {
         $.getJSON(url.replace('infobox/', 'rac/'),
                   partial(replace_tbody_with_dictionary, $('#infobox-rac-tbody'), url));
     }
     $.getJSON(url, partial(replace_tbody_with_dictionary, $('#infobox-main-tbody'), url));
 }

 if (!Array.prototype.last){
     Array.prototype.last = function(){
         return this[this.length - 1];
     };
 };

 function clean_history(e) {
     tokens = {};
     $.getJSON("{% url 'drop-token' '__all__' %}", function(data) {});
     search_history.length = 0;
     forward_history.length = 0;
     $('#search-filter').val('');
     $('#infobox-object-text').empty();
     $('#infobox-table tbody').empty();
     $('#results-box tbody').empty();
     current_url = undefined;
 }

 function pay_token(tbody, class_name, token, first_td) {
     var itr, itd, ispan, btn;
     $.getJSON("{% url 'cash-token' 'TK' %}".replace('TK', token), function(data) {
         console.log(data);
         $('div#results-page .progress-bar.{}'.format(class_name)).attr('data-expect', data.expect);
         var read_so_far = parseInt($('div#results-page .progress-bar.{}'.format(class_name)).attr('data-read-so-far'));
         var total_expected = sumDataEntries('div#results-page .progress-bar', 'expect');
         var processed = 0;
         jQuery.each(data['chunk'], function(index, item) {
             item.uuid = generate_guid();
             read_so_far += 1;
             $('div#results-page .progress-bar.{}'.format(class_name))
                 .css('width', "{}%".format(100 * read_so_far / total_expected));
             itr = $('<tr id="{0.uuid}" class="{1}-row"></tr>'.format(item, class_name));
             $(itr).attr('data-infobox-url', item.infobox_url);
             $(itr).attr('data-form-url', item.infobox_url.replace('infobox/', 'form/'));
             itr.click(partial(update_infobox, item.infobox_url));
             itd = $(twolinestemplate.format(item.twolines))
             itr.append(itd);
             itd = $('<td style="text-align:end;"></td>');
             itr.append(itd);
             ispan = $('<i style="width:0px;"></i>')
             itd.append(ispan)
             btn = $('<button class="fa fa-search"></button>')
             ispan.append(btn)
             $(btn).click(look_for_depending)
             if (first_td) {
                 $(itd).trigger('click');
                 first_td = false;
             }
             if(item.geometries != null && item.geometries.length != 0) {
                 jQuery.each(item.geometries, function(i, geometry) {
                     if (geometry != null) {
                         geometry.layer_name = class_name.toLowerCase();
                         geometry.row_id = item.uuid;
                         geometry.item = item;
                         append_point(geometry);
                     }
                 })
             }
             processed++;
             if(tokens[token] !== true) {
                 console.log('dropping tokens')
                 $.getJSON("{% url 'drop-token' 'TK' %}".replace('TK', token), function(data) {});
                 $('div#results-page .progress-bar.{}'.format(class_name)).attr('data-expect', '0');
                 processed=0;
                 return false;
             }
             tbody.append(itr);  // add it as last child
         })
         $('div#results-page .progress-bar.{}'.format(class_name)).attr('data-read-so-far', read_so_far);
         {% if user.username != 'guest' %}
         $('div#results-box tr.{}-row'.format(class_name)).contextmenu(
             partial(function(class_name, e) {
                 $(e.delegateTarget).trigger('click');
                 $('#ContextMenu-' + class_name).css({
                     display: "block",
                     left: e.pageX - 4,
                     top: e.pageY - 6
                 });
                 return false;
             }, class_name));
         {% endif %}
         if (processed !== 0 && data.done !== true) {
             // set Timeout for async iteration
             setTimeout(partial(pay_token, tbody, class_name, token, false), 1);
         } else {
             setTimeout(function(){
                 var total_expected = sumDataEntries('div#results-page .progress-bar', 'expect');
                 var read_so_far = sumDataEntries('div#results-page .progress-bar', 'read-so-far');
                 if(total_expected === read_so_far) {
                     $('div#results-page .row.progress').hide();
                 }
             }, 1250);
         }
         if (markerBounds.isValid() && map.initialized) {
             map.fitBounds(markerBounds);
         }
     })
 }

 function look_for_depending(e) {
     var td = $(e.delegateTarget).closest('td')
     var tr = $(td.closest('tr'))
     var span = $(td).find('i')
     span.empty()
     span.append($('<div class="spinner-border text-primary"></div>'));
     var basename = $(tr).data('infobox-url').replace('/', '').replace('/infobox/', '').replace(/[\/\.%]/g, '-')
     var depending_url = $(tr).data('infobox-url').replace('infobox/', 'depending/')
     $.getJSON(depending_url, function(data) {
         span.empty()
         var btn, next, tbody, itr, ispan;
         jQuery.each(data, function(class_name, token) {
             tokens[token] = true;
             btn = $('<button class="fa fa-{2}" data-toggle="collapse" data-target="#{0}-{1}"></button>'
                 .format(basename, class_name, collection_icon[class_name]));
             $(span).append(btn)
             next = $('<tr id="{0}-{1}" class="collapse as-of-{0}"></tr>'.format(basename, class_name))
             $(tr).after(next)
             next.append($('<td colspan="2" style="padding:0;padding-left:1.25rem;"><table width="100%"><tbody></tbody></table></td>'))
             tbody = $(next).find('tbody')
             pay_token(tbody, class_name, token, false);
         })

     })
 }

 function now() {
     return new Date().getTime();
 }

 function sumDataEntries(q, data_field) {
     function dtz(x) {
         return parseInt(x) || 0;
     }
     return Object.values($(q).map(function(index, obj) {
         return($(obj).attr('data-' + data_field))
     })).reduce((a, b) => dtz(a) + dtz(b));
 }

 function parse_hash(s) {
     var result = {page: 'home', q: ''};
     var tests = [
         function(s) {
             var test = /^(page)=([a-z]*)$/;
             var match = test.exec(decodeURIComponent(s));
             if(match) {
                 return [match[1], decodeURIComponent(match[2])];
             }
             return false;
         },
         function(s) {
             var test = /^(map)=([1-9][0-9]*)\/(-?[0-9]*(?:\.[0-9]*)?)\/(-?[0-9]*(?:\.[0-9]*)?)$/;
             var match = test.exec(s);
             if(match) {
                 return [match[1], {zoom: Number(match[2]),
                                    lat: Number(match[3]),
                                    lon: Number(match[4])}];
             }
             return false;
         },
         function(s) {
             var test = /^(q)=(.*)$/;
             var match = test.exec(decodeURIComponent(s));
             if(match) {
                 return [match[1], decodeURIComponent(match[2])];
             }
             return false;
         }];
     if (s[0] === '#') {
         var parts = s.slice(1).split(';');
         for(var hh in parts) {
             var hash_part = parts[hh];
             for(var i in tests) {
                 var match = tests[i](hash_part);
                 console.log(match, result);
                 if(match && match[0] != null && match[1] != '') {
                     result[match[0]] = match[1];
                 }
             }
         }
     }
     return result;
 }

 function lookup(e, term) {
     tokens = {};
     jQuery.each(objects_layer, function(i, g) {
         jQuery.each(g, function(ii, l) {
             if (typeof l.clearLayers === 'function')
                 l.clearLayers();
         })});
     objects_layer = {};
     $.getJSON("{% url 'drop-token' '__all__' %}", function(data) {});
     $('.search-filter').attr("disabled", "disabled");
     $('#results-tabber').trigger('click');
     if(term === undefined) {
         term = $('#search-filter').val();
         if(search_history.last() !== term && forward_history.last() !== term)
             search_history.push(term);
     } else {
         $('#search-filter').val(term);
     }
     $('#infobox-object-text').empty();
     $('#infobox-table tbody').empty();
     current_url = undefined;
     $('#results-box tbody').empty();

     $('div#results-page .progress-bar').css('width', '0%');
     $('div#results-page .progress-bar').attr('data-read-so-far', '0');
     $('div#results-page .progress-bar').attr('data-expect', '0');
     api_url = "{% url 'get-tokens' %}?q=" + $('#search-filter').val();
     $.getJSON(api_url, function(data) {
         console.log(data);
         var activate_first_td = true;
         var tbody;
         jQuery.each(data, function(class_name, token) {
             tbody = $('#results-box .{}'.format(class_name));
             tbody.empty();
             tokens[token] = true;
             $('div#results-page .row.progress').show()
             pay_token(tbody, class_name, token, activate_first_td);
             activate_first_td = false;
         });
         $('.search-filter').removeAttr("disabled");

         $('body').on("click", function() {
             $('.context-menu').hide();
         });
     })
 }

 function follow_history(to_pop, to_push, e) {
     if(to_pop.length !== 0) {
         var term = to_pop.pop();
         to_push.push(term);
         if ($('#search-filter').val() === term && to_pop.length !== 0) {
             term = to_pop.pop();
             to_push.push(term);
         }

         lookup(e, term);
     }
 }

 function compute_api_url(form_url, parent_class, this_class, http_verb) {
     if (http_verb === 'POST') {
         if (this_class === 'plant' && parent_class === 'accession')
             return form_url.replace('collection/', 'garden/').replace('form/', 'plant/')
         if (this_class === 'verification' && parent_class === 'accession')
             return form_url.replace('form/', 'verification/')
     }
     return form_url.replace('/form/', '/').replace('//', '/')
 }

 function perform_on_selected(e) {
     [parent_class, action_name, this_class, http_verb, rest] = e.target.id.split('-');
     var infobox_url, form_url;
     if(parent_class === 'new') {
         form_url = $(e.target).attr('data-form-url');
     } else {
         var active_row = $('tr.table-success');
         infobox_url = $(active_row).attr('data-infobox-url');
         form_url = $(active_row).attr('data-form-url');
     }
     var api_url = compute_api_url(form_url, parent_class, this_class, http_verb)
     if(http_verb === 'POST' && parent_class !== 'new') {
         form_url = api_url + 'form/'
     }
     if (e.target.id === 'taxon-edit-verification-POST-taxon') {
         form_url = "{% url 'verification-post-form-bare' %}"
     }
     var modal_form = $('#modal-form-' + action_name);
     var modal_form_body = $(modal_form).find('.modal-body');
     $(modal_form).find('.modal-title').empty();
     $(modal_form).find('.modal-title').append(this_class);
     $(modal_form_body).empty();
     $.getJSON(form_url, function(data) {
         $(modal_form_body).append($(data.form));
         jQuery.each($(modal_form), function(i, modal) {
             $(modal).find('.django-select2').djangoSelect2({
                 dropdownParent: $(modal)
             });
         });
         $("select.django-select2-heavy").attr('data-minimumInputLength', 2)
         $("select.django-select2-heavy").attr('data-minimum-input-length', 2)
         $("select.django-select2-heavy").attr('data-response-length-threshold', '20')
         // show the form
         $(modal_form).modal();
         // stretch width of elements to new size of modal
         $('.modal td select').css({width: '100%'});
         $('.modal td span').css({width: '100%'});
         $('#id_geometry-map').css('width', '400px');
         window["leafletmapid_geometry-map"].invalidateSize();
     });
     // set the 'proceed' callback
     $(modal_form).find('button.action-confirm').unbind('click');
     $(modal_form).find('button.action-confirm').click(
         partial(function(form, verb, api_url, e2){
             $.ajax({
                 url: api_url,
                 method: verb,
                 data:$(form).serialize(),
                 beforeSend: function (request) {
                     request.setRequestHeader('X-CSRFToken', csrf_token);
                 },
                 success: function(result) {
                     if (verb === 'DELETE') {
                         $('tr.table-success').hide()
                     } else {
                         $.getJSON(api_url + 'markup/', function(item) {
                             // update current row
                             $('tr.table-success td:first').remove();
                             $('tr.table-success').prepend(
                                 $(twolinestemplate.format(item.twolines)));
                             // update infobox
                             update_infobox(api_url + 'infobox/')
                         })
                     }
                 },
                 error: function(request, msg, error) {
                     console.log(request, msg, error);
                     // handle failure
                 }
             });
         }, $(modal_form).find('form'), http_verb, api_url));
 }

 function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie !== '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
             var cookie = cookies[i].trim();
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
             }
         }
     }
     return cookieValue;
 }

 // set by zoomstart, examined by zoomend.
 var previous_zoom = 0;

 function onZoomStart() {
     // remember the previous zoom, so you know whether you're zooming
     // in, or out.
     previous_zoom = map.getZoom();
 }

 function onMoveEnd() {
     updateLocationHash();
 }

 function onZoomEnd() {
     updateLocationHash();
     var l = {};
     for(var g in objects_layer) {
         if (previous_zoom > map.getZoom()) {
             // we are either zooming out ...
             l = objects_layer[g][previous_zoom];
             if (l != null)
                 map.removeLayer(l);
         } else {
             // or zooming in !!!
             l = objects_layer[g][map.getZoom()];
             if (typeof l !== 'undefined' && objects_layer[g].visible)
                 map.addLayer(l);
         }
     }
 }

 function mapSetView(lat, lon, zoom) {
     map.setView([lat, lon], zoom);
     updateLocationHash();
     for (var g in objects_layer) {
         for(var z in objects_layer[g]) {
             if(z <= zoom) {
                 map.addLayer(objects_layer[g][z]);
             } else {
                 map.removeLayer(objects_layer[g][z]);
             }
         }
     }
 }

 function reset_map_height() {
     if (map.initialized == null) {
         map.initialized = true;
         map.on('moveend', onMoveEnd);
         map.on('zoomend', onZoomEnd);
         map.on('zoomstart', onZoomStart);
         $('#map-pane').css('height', '{}px'.format(window.innerHeight - stolen_height()));
     } else {
         $('#map-pane').css('height', '{}px'.format(window.innerHeight - stolen_height()));
         map.invalidateSize();
         return;
     }
     // add the scale control
     L.control.scale({ position: 'bottomleft' }).addTo(map);
     // add the zoom control
     L.control.zoom({ position: 'topright' }).addTo(map);
     // create an OpenStreetMap tile layer
     L.tileLayer(
         'http://{s}.tile.osm.org/{z}/{x}/{y}.png', // osm server (most frequently updated)
         { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
           minZoom: 1,
           maxZoom: 19
         }).addTo(map);
     if (markerBounds.isValid()) {
         map.fitBounds(markerBounds);
     } else if ([{{ institution.geometry.y }}].length > 0) {
         map.setView([{{ institution.geometry.y }}, {{ institution.geometry.x }}], 17);
     } else {
         map.setView([8.4, -80], 8);
     }
     map.invalidateSize();
     console.log(map);
 }

 function reset_results_height() {
     // collect the elements, get their height, sum the values, assign the rest to the results box
     $('#locked-height-container > div').css('height', '{}px'.format(window.innerHeight - stolen_height()));
     updateLocationHash();
 }

 function close_map_popup() {
     try {
         map.closePopup()
     } catch(e) {console.log(e)}
 }

 function show_current_row() {
     var row = $('#results-box .table-success');
     if(row.length) {
         var element = row[0];
         if(!isScrolledIntoView(element))
             element.scrollIntoView();
     }
 }

 function stolen_height() {
     var stealing = $('.stealing-height-from-results').map(function (i, x) { return parseInt($(x).css('height'))});
     return Object.values(stealing).slice(0, stealing.length).reduce((t, i) => t + i + 2);
 }

 function switch_page(e) {
     var app_name = $(e.delegateTarget).data('app-name');
     $('div#home-spare img').hide();
     $('div#home-spare img#{}-logo'.format(app_name)).show();
 }

 function link_statistics_to_searches() {
     $('#home-pane table td').css('width', 'unset');
     $('#home-pane table td.list-group-item-action').map(function (i, x) {
         $(x).click(partial(replace_search_filter, $(x).data('query')));
     });
 }

 function update_statistics() {
     $('#home-pane table td').map(function (i, x) {
         $.getJSON("{% url 'count' %}?q=" + $(x).data('query'),
                   function(data){
                       $(x).text(data['__total__'])
                   });
     })
 }

 function isScrolledIntoView(elem) {
     var rect = elem.getBoundingClientRect();
     // Only completely visible elements return true:
     return (rect.top >= 122) && (rect.bottom <= window.innerHeight);
 }

 function checkKey(e) {
     e = e || window.event;
     if (e.ctrlKey) {
         switch (e.keyCode) {
             case 76:  // L
                 $('input#search-filter').focus();
             case 65:  // A
                 return (!$(document.activeElement).hasClass('container-fluid'));
             case 75:
                 return false;
         }
     }
     var here, there;
     switch (e.keyCode) {
         case 34:  // PgDn
             here = $('ul.sidenav a.active');
             there = here.parent().next().children()
             if(there.data('toggle') != 'tab') {
                 there = $('#home-tabber');
             }
             there.trigger('click');
             return false;
         case 33:  // PgUp
             here = $('ul.sidenav a.active');
             there = here.parent().prev().children();
             if(there.length === 0) {
                 there = $('#map-tabber');
             }
             there.trigger('click');
             return false;
     }
     if(!$(document.activeElement).hasClass('container-fluid'))
         return;
     var move_to;
     if ($('#pictures-tabber').hasClass('active')) {
         if(e.keyCode === 37) {
             plusSlides(-1)
         } else if (e.keyCode === 39) {
             plusSlides(1)
         };
     }
     if ($('#results-tabber').hasClass('active')) {
         if(e.keyCode === 37) {
             move_to = $('tr.table-success').prev()
         } else if (e.keyCode === 39) {
             move_to = $('tr.table-success').next()
         };
         if(move_to && move_to.length !== 0) {
             $(move_to).trigger('click');
             var element = $(move_to)[0];
             if(!isScrolledIntoView(element))
                 element.scrollIntoView(e.keyCode === 37);
         }
     }
 }

 var slideIndex = 1;

 // Next/previous controls
 function plusSlides(n) {
     showSlides(slideIndex += n);
 }

 // Thumbnail image controls
 function currentSlide(n) {
     showSlides(slideIndex = n);
 }

 function generate_guid(mongo_id) {  // generate unique identifier
     if(mongo_id === undefined) {
         var S4 = function() {
             return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
         };
         return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
     } else {
         return mongo_id;
     }
 }

 function showSlides(n) {
     var slides = $(".mySlides");
     if (slides.length === 0) {
         return
     };
     var dots = $(".thumbs-element.cursor");
     if (n > slides.length) {
         slideIndex = 1
     } else if (n < 1) {
         slideIndex = slides.length
     };
     $(slides).css('display', 'none');
     $(dots).removeClass('active');
     $(slides[slideIndex-1]).css('display', "block");
     $(dots[slideIndex-1]).addClass("active");
     $("#caption").text($(dots[slideIndex-1]).attr('alt'));
 }

 function updateLocationHash() {
     var tail = '';
     try {
         if (map.initialized == null)
             throw "map is not initialized";
         var centre = map.getCenter();
         centre.zoom = map.getZoom();
         tail += ';map={zoom}/{lat}/{lng}'.format(centre);
     } catch (e) {
         console.log(e);
     }
     if ($('#search-filter').val() != '') {
         tail += ';q={}'.format($('#search-filter').val())
     }
     window.location.hash = '#page={}'.format($('ul.sidenav a.active').data('slug')) + tail;
 }

 function append_point(item) {  // cfr.: item.layer_name
     console.log('append_point', item);
     var marker_id = item._id = generate_guid(item._id);
     item.color = 'blue';
     item.icon = 'tree';
     item.layer_zoom = 1;
     [item.lon, item.lat] = item;
     var g = item.layer_name;
     if(objects_container[g] == null)
         objects_container[g] = {};
     if(g.startsWith('__')) {
         objects_container[g][item._id] = item;
         return;
     } else {
         if(objects_container[g][item._id] != null) {
             return;
         }
         objects_container[g][item._id] = item;
     }

     if ('icon' in item && 'color' in item) {
         var icon = L.AwesomeMarkers.icon({ color: item.color,
                                            icon: item.icon,
                                            className: 'awesome-marker plant-marker ' + item.row_id});
         item.icon = icon;
     }

     var z = item.layer_zoom;
     var l;

     var list_item, anchor, icon_element;

     models[g].update_menu(item);
     if (objects_layer[g] == null || Object.keys(objects_layer[g]).length === 0) {
         console.log('not found layer', g, "... creating now");
         objects_layer[g] = {};
         objects_layer[g].visible = true;

         list_item = $('<li/>', { id: 'toggle-menu-item-' + g });
         $('#toggle-menu-list').append(list_item);
         anchor = $('<a/>',
                    { href: '#',
                      onclick: 'toggleLayerCheck(this, "' + g + '"); return false;'
                    });
         list_item.append(anchor);
         icon_element = $('<i/>', { class: 'icon-ok icon-black' });
         anchor.append(icon_element);
         anchor.append(" " + g);
     }
     if (!objects_layer[g][z]) {
         objects_layer[g][z] = L.layerGroup();
         l = objects_layer[g][z];
         if(z <= (map.getZoom() || 20)) {
             map.addLayer(l);
         }
     }
     l = objects_layer[g][z];

     console.log('layer, item', l, item);
     var marker = L.marker([item.lat, item.lon],
                           item).bindTooltip(item.item.inline);
     marker.addTo(l).bindPopup(models[g].text.format(item.item),
                               {marker: marker});
     markerBounds.extend(marker.getLatLng());

     markers[item._id] = marker;
     marker.on('click',
               function(){
                   $('#'+item.row_id).trigger('click');
               });
     marker.on('mouseover',
               function() {
                   marker._icon.id = marker_id;
                   set_alternative($('#' + marker_id), 'awesome-marker-icon', 'purple');
               });
     marker.on('mouseout',
               function() {
                   var is_matching_selected = $('#{}.table-success'.format(item.row_id));
                   var colour = (is_matching_selected.length != 0) ? 'orange' : item.color;
                   set_alternative($('#' + marker_id), 'awesome-marker-icon', colour);
               });

     // adding extra marker to provide some overlap in Pacific area.
     if(item.lon > 100) {
         item.lon -= 360;
         marker = L.marker([item.lat, item.lon],
                           item).bindTooltip(item.item.inline);
         item.lon += 360;
         marker.addTo(l).bindPopup(models[g].text.format(item.item),
                                   {marker: marker});
     }
     if(item.lon < -100) {
         item.lon += 360;
         marker = L.marker([item.lat, item.lon],
                           item).bindTooltip(item.item.inline);
         item.lon -= 360;
         marker.addTo(l).bindPopup(models[g].text.format(item.item),
                                   {marker: marker});
     }
 }

 $(function() {  // function to run at document ready
     $('#search-filter').on('keypress', function (e) {
         if(e.which === 13) {
             lookup(e);
         }
     });
     map = L.map('map-pane', {zoomControl: false});
     markerBounds = L.latLngBounds();
     objects_layer['plant'] = {};
     objects_layer['plant'].visible = true;
     models['plant'] = {
         'text': '<b>{inline}</b><br/>{twolines.sub}<br/>' +
                 '<div onclick="$(\'div.tab-content > div.active > input\')[0].value = \'{species}\'; $(\'div.tab-content > div.active > input\').keyup(); return false;">search species</div>',
         'update_menu': function (item) {}};
     models['accession'] = {
         'text': '<b>{inline}</b><br/>{twolines.sub}<br/>' +
                 '<div onclick="$(\'div.tab-content > div.active > input\')[0].value = \'{species}\'; $(\'div.tab-content > div.active > input\').keyup(); return false;">search species</div>',
         'update_menu': function (item) {}};
     models['taxon'] = {
         'text': '<b>{inline}</b><br/>{twolines.sub}<br/>' +
                 '<div onclick="$(\'div.tab-content > div.active > input\')[0].value = \'{species}\'; $(\'div.tab-content > div.active > input\').keyup(); return false;">search species</div>',
         'update_menu': function (item) {}};
     console.log('window.location.hash=', window.location.hash);
     hash_parts = parse_hash(window.location.hash);
     console.log('hash_parts=', hash_parts);
     csrf_token = getCookie('csrftoken');
     $(window).on('keydown', checkKey);
     $('#search-filter-button').click(lookup);
     search_history = [];
     forward_history = [];
     $('#pop-from-history').click(partial(follow_history, search_history, forward_history));
     $('#forward-in-history').click(partial(follow_history, forward_history, search_history));
     $('#clean-history').click(clean_history);

     $('i.pager-go-home').click(switch_page)

     $("body").bind('contextmenu', function (e) {
         e.preventDefault(); // prevents default menu
     });
     // register action on modal activation
     $('#drop-insert,.context-menu.dropdown-menu').find('.dropdown-item').click(perform_on_selected);

     link_statistics_to_searches()
     update_statistics()
     $('div#home-spare img').hide()
     $('div#home-spare img#ghini-logo').show()

     $('div#results-page .row.progress').hide()

     // keep track of height
     window.addEventListener("resize", reset_results_height);
     window.addEventListener("resize", reset_map_height);
     $('#results-tabber').on('shown.bs.tab', reset_results_height);
     $('#results-tabber').on('shown.bs.tab', show_current_row);
     $('#tabbers a').on('shown.bs.tab', close_map_popup);
     $('#tabbers a').on('shown.bs.tab', updateLocationHash);
     $('#map-tabber').on('shown.bs.tab', reset_map_height);
     if (hash_parts.q != null) {
         replace_search_filter(hash_parts.q);
     }
     $('#{0.page}-tabber'.format(hash_parts)).trigger('click');

     currentSlide(1);
 });
</script>
  </head>
  <body class="container-fluid">

    <ul id="tabbers" class="sidenav nav nav-tabs">
      <li><a data-toggle="tab" href="#home-pane" data-slug="home" id="home-tabber">Ghini</a></li>
      <li><a data-toggle="tab" href="#results-pane" data-slug="results" id="results-tabber">Results</a></li>
      <li><a data-toggle="tab" href="#pictures-pane" data-slug="pictures" id="pictures-tabber">(Pictures)</a></li>
      <li><a data-toggle="tab" href="#map-pane" data-slug="map" id="map-tabber">Map</a></li>
      <li><a href="{% url 'logout' %}" id="sign-out" class="fa fa-sign-out" ></a></li>
    </ul>

    <nav class="not-sidebar navbar navbar-expand-sm bg-light navbar-light stealing-height-from-results" id="top-nav-bar">
      <!-- Brand -->
      <i class="navbar-brand pager-go-home" data-page-name="home" data-app-name="taxasoft" href="#"><img src="{% static 'taxasoft-32.png' %}"/></i>
      <i class="navbar-brand pager-go-home" data-page-name="home" data-app-name="ghini" href="#"><img src="{% static 'ghini-32.png' %}"/></i>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        {% if user.username != 'guest' %}
        <li class="nav-item dropdown" id="drop-insert" >
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Insert</a>
          <div class="dropdown-menu" id="insert-menu">
            <a class="dropdown-item" id="new-edit-taxon-POST" href="#" data-form-url="{% url 'taxon-post-form' %}">Taxon</a>
            <a class="dropdown-item" id="new-edit-contact-POST" href="#" data-form-url="{% url 'contact-post-form' %}">Contact</a>
            <a class="dropdown-item" id="new-edit-accession-POST" href="#" data-form-url="{% url 'accession-post-form' %}">Accession</a>
            <a class="dropdown-item" id="new-edit-location-POST" href="#" data-form-url="{% url 'location-post-form' %}">Location</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown" id="drop-tools" >
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Tools</a>
          <div class="dropdown-menu" id="tools-menu">
            <a class="dropdown-item" href="#">Institution</a>
            <a class="dropdown-item" href="#">Backup</a>
            <a class="dropdown-item" href="#">Import</a>
            <a class="dropdown-item" href="#">Export</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="drop-tags" data-toggle="dropdown">Tags</a>
          <div class="dropdown-menu" id="tags-menu">
            <a class="dropdown-item" href="#">Apply Tag</a>
          </div>
        </li>
      </ul>
      <div class="navbar-nav col-sm-8">
        <div class="input-group">
          <button class="btn btn-light" id="pop-from-history">
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-light" id="forward-in-history">
            <span class="fa fa-arrow-right"></span>
          </button>
          <button class="btn btn-light" id="clean-history">
            <span class="fa fa-paint-brush"></span>
          </button>
          <span class="btn-separator"></span>
          <input type="text" class="form-control" id="search-filter" placeholder="your garden search">
          <div class="input-group-append">
            <button class="btn btn-success" id="search-filter-button">
              <span class="fa fa-refresh"></span>
            </button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-success" id="query-builder-button">
              <span class="fa fa-gears"></span>
            </button>
          </div>
        </div>
      </div>

    </nav>

    <div class="tab-content not-sidebar">
      <div class="tab-pane fade" id="results-pane">
        <div style="position:fixed;z-index:999;height:0.5rem;width:100%" class="row progress">
          <div class="progress-bar Taxon" style="width:0%"></div>
          <div class="progress-bar bg-info Accession" style="width:0%"></div>
          <div class="progress-bar bg-warning Contact" style="width:0%"></div>
          <div class="progress-bar bg-success Plant" style="width:0%"></div>
          <div class="progress-bar bg-light Location" style="width:0%"></div>
        </div>
        <div class="row">
          <div class="col-7 stealing-height-from-results">
            <table class="table">
              <thead>
                <tr>
                  <th>results list</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col-5">
            <table class="table">
              <thead>
                <tr>
                  <th>info box for selected row</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="row" id="locked-height-container">
          <div class="col-7" style="overflow-y:scroll" id="results-box">
            <table class="table table-hover">
              <tbody class="Taxon">
              </tbody>
              <tbody class="Accession">
              </tbody>
              <tbody class="Contact">
              </tbody>
              <tbody class="Plant">
              </tbody>
              <tbody class="Location">
              </tbody>
            </table>
          </div>
          <div class="col-5" style="overflow-y:scroll">
            <h5 id="infobox-object-text"></h5>
            <table class="table" id="infobox-table">
              <tbody id="infobox-main-tbody">
              </tbody>
              <tbody id="infobox-rac-tbody">
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 stealing-height-from-results">
            http://ghini.github.io/
          </div>
        </div>
      </div>

      <div class="container tab-pane fade" id="pictures-pane" style="margin-left: -30px;">
      </div>

      <div class="tab-pane fade" id="map-pane">
      </div>

      <div class="container tab-pane fade" id="home-pane">
        <div class="row justify-content-center">
          <div class="col-7 align-self-center" id="home-spare">
            <img class="rounded img-fluid align-middle" id="ghini-logo" src="{% static 'ghini-logo.png' %}">
            <img class="rounded img-fluid" id="taxasoft-logo" src="{% static 'taxasoft-logo.png' %}">
          </div>
          <div class="col-5">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%"></th>
                  <th width="25%">total</th>
                  <th width="25%">used</th>
                  <th width="25%">unused</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>family +</th>
                  <td id="count-family-total" data-query="taxon where rank.id<=9">0000</td>
                  <td class="list-group-item-action" id="count-family-used" data-query="taxon where rank.id<=9 and count(verifications)>0">0000</td>
                  <td id="count-family-unused" data-query="taxon where rank.id<=9 and count(verifications)=0">0000</td>
                </tr>
                <tr>
                  <th>genus ±</th>
                  <td id="count-genus-total" data-query="taxon where rank.id between 10 and 16">0000</td>
                  <td class="list-group-item-action" id="count-genus-used" data-query="taxon where rank.id between 10 and 16 and count(verifications)>0">0000</td>
                  <td id="count-genus-unused" data-query="taxon where rank.id between 10 and 16 and count(verifications)=0">0000</td>
                </tr>
                <tr>
                  <th>species -</th>
                  <td class="list-group-item-action" id="count-species-total" data-query="taxon where rank.id>=17">0000</td>
                  <td class="list-group-item-action" id="count-species-used" data-query="taxon where rank.id>=17 and count(verifications)>0">0000</td>
                  <td class="list-group-item-action" id="count-species-unused" data-query="taxon where rank.id>=17 and count(verifications)=0">0000</td>
                </tr>
                <tr>
                  <th>accessions</th>
                  <td class="list-group-item-action" id="count-accession-total" data-query="accession where true">0000</td>
                  <td class="list-group-item-action" id="count-accession-used" data-query="accession where sum(plants.quantity)>0">0000</td>
                  <td class="list-group-item-action" id="count-accession-unused" data-query="accession where not sum(plants.quantity)>0">0000</td>
                </tr>
                <tr>
                  <th>plants</th>
                  <td class="list-group-item-action" id="count-plant-total" data-query="plant where true">0000</td>
                  <td class="list-group-item-action" id="count-plant-used" data-query="plant where quantity>0">0000</td>
                  <td class="list-group-item-action" id="count-plant-unused" data-query="plant where quantity=0">0000</td>
                </tr>
                <tr>
                  <th>locations</th>
                  <td class="list-group-item-action" id="count-location-total" data-query="location where true">0000</td>
                  <td class="list-group-item-action" id="count-location-used" data-query="location where count(plants)>0">0000</td>
                  <td class="list-group-item-action" id="count-location-unused" data-query="location where count(plants)=0">0000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="forms-and-menus">

      <!-- first of a list of objects object where the id indicates what the object does.
           id is made up of four parts, it's:
           (1) the class name of the root object, the one to which the edit is related.
           compare with the above drop down menu, where this part is 'new';
           (2) a verb, identifying the form that has to be activated, it's either edit or delete;
           (3) the class name of the object we will edit, it helps us locate the table that we need copy into the form;
           (4) the http verb to be executed if the form is confirmed.
           (5) this one is optional, I'm not sure we need it, possibly just for unicity.

           $('.context-menu.dropdown-menu').find('.dropdown-item').map((i, e) => [e.id.split('-')])
           $('#drop-insert').find('.dropdown-item').map((i, e) => [e.id.split('-')])
      -->
      {% if user.username != 'guest' %}
      <div id="ContextMenu-Taxon" class="context-menu dropdown-menu">
        <a class="dropdown-item" id="taxon-edit-taxon-PUT" href="#">Edit</a>
        <a class="dropdown-item" id="taxon-edit-taxon-POST-taxon" href="#">Add sub taxon</a>
        <a class="dropdown-item" id="taxon-edit-verification-POST-taxon" href="#">Add verification</a>
        <a class="dropdown-item" id="taxon-delete-taxon-DELETE" href="#">Delete</a>
      </div>

      <div id="ContextMenu-Accession" class="context-menu dropdown-menu">
        <a class="dropdown-item" id="accession-edit-accession-PUT" href="#">Edit</a>
        <a class="dropdown-item" id="accession-edit-verification-POST" href="#">Add verification</a>
        <a class="dropdown-item" id="accession-edit-plant-POST" href="#">Add Plant</a>
        <a class="dropdown-item" id="accession-delete-accession-DELETE" href="#">Delete</a>
      </div>

      <div id="ContextMenu-Contact" class="context-menu dropdown-menu">
        <a class="dropdown-item" id="contact-edit-contact-PUT" href="#">Edit</a>
        <a class="dropdown-item" id="contact-edit-verification-POST" href="#">Add verification</a>
        <a class="dropdown-item" id="contact-delete-contact-DELETE" href="#">Delete</a>
      </div>

      <div id="ContextMenu-Plant" class="context-menu dropdown-menu">
        <a class="dropdown-item" id="plant-edit-plant-PUT" href="#">Edit</a>
        <a class="dropdown-item" id="plant-edit-plant-POST-split" href="#">Split Plant</a>
        <a class="dropdown-item" id="plant-delete-plant-DELETE" href="#">Delete</a>
      </div>

      <div id="ContextMenu-Location" class="context-menu dropdown-menu">
        <a class="dropdown-item" id="location-edit-location-PUT" href="#">Edit</a>
        <a class="dropdown-item" id="location-delete-location-DELETE" href="#">Delete</a>
      </div>
      {% endif %}

      <!-- we only have two modal forms: delete and edit. -->
      <div class="modal" id="modal-form-delete">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Confirm Deletion</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-delete-tbody">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger action-confirm" data-dismiss="modal">Delete</button>
            </div>

          </div>
        </div>
      </div>

      <div class="modal" id="modal-form-edit">
        <div class="modal-dialog modal-lg">
          <form class="modal-content">
            {% csrf_token %}

            <!-- Modal Header --><!-- we change the title -->
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body --><!-- we clone the generated form into this element -->
            <div class="modal-body">

            </div>

            <!-- Modal footer --><!-- we change the primary action -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary action-confirm" data-dismiss="modal">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- https://fontawesome.com/v4.7.0/icon/caret-left
         https://fontawesome.com/v4.7.0/icon/th-list
         https://fontawesome.com/v4.7.0/icon/list-ol    -->
