{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript">
 var search_history, forward_history;
 var csrf_token;
 var current_url;

 var collection_icon = {
     'Taxon': 'terminal',
     'Accession': 'vcard-o',
     'Contact': 'user-circle',
     'Location': 'umbrella',
     'Plant': 'tree'
 }

 function partial(func, ...argsBound) {
     return function(...args) { // (*)
         return func.call(this, ...argsBound, ...args);
     }
 }

 function replace_search_filter(value, e) {
     $('#search-filter').val(value);
     $('#search-filter-button').trigger('click');
 }

 function update_infobox(url, e) {
     if (typeof e !== 'undefined')
         $(e.delegateTarget).attr("disabled", "disabled");
     if (url === current_url) {
         return;
     }
     current_url = url;
     $('tr').removeClass('table-success');
     if (typeof e !== 'undefined') {
         $('#infobox-object-text').empty();
         $('#infobox-object-text').append($(e.delegateTarget).find('span.content').clone());
         $(e.delegateTarget).addClass('table-success');
     }
     var tbody = $('#infobox-table-body');
     tbody.empty();
     $.getJSON(url, function(data) {
         tbody.empty();
         var tr, td;
         jQuery.each(data, function(key, value) {
             if (!key.startsWith('__') && value !== null && value !== '') {
                 tr = $("<tr></tr>");
                 tbody.append(tr);  // add it as last child
                 tr.append($('<td width="40%">' + key.replace('_', ' ') + '</td>'));
                 if(value[0] === 'link') {
                     if (typeof value[1] === 'string' || typeof value[1] === 'number') {  // single element
                         td = $('<td>' + value[1] + '</td>');
                         td.click(partial(replace_search_filter, value[2]));
                         td.addClass('list-group-item-action');
                         tr.append(td);
                     } else {  // list of links
                         td = $('<td></td>')
                         tr.append(td);
                         var div;
                         jQuery.each(value[1], function(i, x) {
                             div = $('<div>{}</div>'.format(x[0]))
                             div.addClass('list-group-item-action');
                             div.click(partial(replace_search_filter, x[1]));
                             td.append(div)
                         })
                     }
                 } else {
                     tr.append($('<td>' + value + '</td>'));
                 }
             }
         });
         if (typeof e !== 'undefined')
             $(e.delegateTarget).removeAttr("disabled");
     });
 }

 if (!Array.prototype.last){
     Array.prototype.last = function(){
         return this[this.length - 1];
     };
 };

 function clean_history(e) {
     search_history.length = 0;
     forward_history.length = 0;
     $('#search-filter').val('');
     $('#infobox-object-text').empty();
     $('#infobox-table-body').empty();
     $('#results-table-body').empty();
     current_url = undefined;
 }

 function look_for_depending(e) {
     var td = $(e.delegateTarget).closest('td')
     var tr = $(td.closest('tr'))
     var span = $(td).find('i')
     span.empty()
     var basename = $(tr).data('infobox-url').replace('/', '').replace('/infobox/', '').replace(/[\/\.%]/g, '-')
     var depending_url = $(tr).data('infobox-url').replace('infobox/', 'depending/')
     console.log(depending_url)
     $.getJSON(depending_url, function(data) {
         console.log(data)
         var btn, next, tbody, itr, ispan;
         jQuery.each(data, function(class_name, list_for_class) {
             btn = $('<button class="fa fa-{}" data-toggle="collapse" data-target="#{}-{}"></button>'
                 .format(collection_icon[class_name], basename, class_name))
             btn.click(function(e){
                 $(e.delegateTarget)
                     .closest('tbody')
                     .find('tr.as-of-{}'.format(basename))
                     .collapse('hide')
             })
             $(span).append(btn)
             next = $('<tr id="{0}-{1}" class="collapse as-of-{0}"></tr>'.format(basename, class_name))
             $(tr).after(next)
             next.append($('<td colspan="2" style="padding:0 12"><table width="100%"><tbody></tbody></table></td>'))
             tbody = $(next).find('tbody')
             jQuery.each(list_for_class, function(index, item) {
                 itr = $('<tr class="{}-row"></tr>'.format(class_name));
                 tbody.append(itr);  // add it as last child
                 $(itr).attr('data-infobox-url', item.infobox_url);
                 $(itr).attr('data-form-url', item.infobox_url.replace('infobox/', 'form/'));
                 itr.click(partial(update_infobox, item.infobox_url));
                 td = $('<td><span class="content">' + item.inline + '</span></td>');
                 itr.append(td);
                 td = $('<td></td>');
                 itr.append(td);
                 ispan = $('<i style="width:0px;display:inline-flex;"></i>')
                 td.append(ispan)
                 btn = $('<button class="fa fa-search"></button>')
                 ispan.append(btn)
                 $(btn).click(look_for_depending)
             });
             $('div#results-box tr.{}-row'.format(class_name)).contextmenu(
                 partial(function(class_name, e) {
                     $(e.delegateTarget).trigger('click');
                     $('#ContextMenu-' + class_name).css({
                         display: "block",
                         left: e.pageX - 4,
                         top: e.pageY - 6
                     });
                     return false;
                 }, class_name));
         })

     })
 }

 function lookup(e, term) {
     $('.search-filter').attr("disabled", "disabled");
     if(term === undefined) {
         term = $('#search-filter').val();
         if(search_history.last() !== term && forward_history.last() !== term)
             search_history.push(term);
     } else {
         $('#search-filter').val(term);
     }
     $('#infobox-object-text').empty();
     $('#infobox-table-body').empty();
     current_url = undefined;
     var tbody = $('#results-table-body');
     tbody.empty();

     api_url = '{% url 'filter' %}?q=' + $('#search-filter').val();
     $.getJSON(api_url, function(data) {
         var first_td;
         jQuery.each(data, function(class_name, list_for_class) {
             var itr, td, btn, div, ispan;
             jQuery.each(list_for_class, function(index, item) {
                 itr = $('<tr class="{}-row"></tr>'.format(class_name));
                 tbody.append(itr);  // add it as last child
                 $(itr).attr('data-infobox-url', item.infobox_url);
                 $(itr).attr('data-form-url', item.infobox_url.replace('infobox/', 'form/'));
                 itr.click(partial(update_infobox, item.infobox_url));
                 td = $('<td><span class="content">' + item.inline + '</span></td>');
                 first_td = first_td || td;
                 itr.append(td);
                 td = $('<td></td>');
                 itr.append(td);
                 ispan = $('<i style="width:0px;display:inline-flex;"></i>')
                 td.append(ispan)
                 btn = $('<button class="fa fa-search"></button>')
                 ispan.append(btn)
                 $(btn).click(look_for_depending)
             });
             $('div#results-box tr.{}-row'.format(class_name)).contextmenu(
                 partial(function(class_name, e) {
                     $(e.delegateTarget).trigger('click');
                     $('#ContextMenu-' + class_name).css({
                         display: "block",
                         left: e.pageX - 4,
                         top: e.pageY - 6
                     });
                     return false;
                 }, class_name));
         });
         if (first_td) {
             $(first_td).trigger('click');
         }
         $('.search-filter').removeAttr("disabled");

         $('body').on("click", function() {
             $('.context-menu').hide();
         });
     })
 }

 function follow_history(to_pop, to_push, e) {
     if(to_pop.length !== 0) {
         var term = to_pop.pop();
         to_push.push(term);
         if ($('#search-filter').val() === term && to_pop.length !== 0) {
             term = to_pop.pop();
             to_push.push(term);
         }

         lookup(e, term);
     }
 }

 function compute_api_url(form_url, parent_class, this_class, http_verb) {
     if (http_verb === 'POST') {
         if (this_class === 'plant' && parent_class === 'accession')
             return form_url.replace('collection/', 'garden/').replace('form/', 'plant/')
         if (this_class === 'verification' && parent_class === 'accession')
             return form_url.replace('form/', 'verification/')
     }
     return form_url.replace('/form/', '/').replace('//', '/')
 }

 function perform_on_selected(e) {
     [parent_class, action_name, this_class, http_verb, rest] = e.target.id.split('-');
     var infobox_url, form_url;
     if(parent_class === 'new') {
         form_url = $(e.target).attr('data-form-url');
     } else {
         var active_row = $('tr.table-success');
         infobox_url = $(active_row).attr('data-infobox-url');
         form_url = $(active_row).attr('data-form-url');
     }
     var api_url = compute_api_url(form_url, parent_class, this_class, http_verb)
     if(http_verb === 'POST' && parent_class !== 'new') {
         form_url = api_url + '/form/'
     }
     console.log(form_url, this_class, http_verb, api_url)
     var modal_form = $('#modal-form-' + action_name);
     var modal_form_body = $(modal_form).find('.modal-body');
     $(modal_form).find('.modal-title').empty();
     $(modal_form).find('.modal-title').append(this_class);
     $(modal_form_body).empty();
     $.getJSON(form_url, function(data) {
         $(modal_form_body).append($(data.form));
         jQuery.each($(modal_form), function(i, modal) {
             $(modal).find('.django-select2').djangoSelect2({
                 dropdownParent: $(modal)
             });
         });
         $("select.django-select2-heavy").attr('data-minimumInputLength', 2)
         $("select.django-select2-heavy").attr('data-minimum-input-length', 2)
         $("select.django-select2-heavy").attr('data-response-length-threshold', '20')
         // show the form
         $(modal_form).modal();
         // stretch width of elements to new size of modal
         $('.modal td select').css({width: '100%'})
         $('.modal td span').css({width: '100%'})
     });
     // set the 'proceed' callback
     $(modal_form).find('button.action-confirm').unbind('click');
     $(modal_form).find('button.action-confirm').click(
         partial(function(form, verb, api_url, e2){
             $.ajax({
                 url: api_url,
                 method: verb,
                 data:$(form).serialize(),
                 beforeSend: function (request) {
                     request.setRequestHeader('X-CSRFToken', csrf_token);
                 },
                 success: function(result) {
                     if (verb === 'DELETE') {
                         $('tr.table-success').hide()
                     } else {
                         $.getJSON(api_url + 'markup/', function(data) {
                             // update current row
                             $('tr.table-success').empty().append($('<span>' + data.inline + '</span>'))
                             // update infobox
                             update_infobox(api_url + 'infobox/')
                         })
                     }
                 },
                 error: function(request, msg, error) {
                     console.log(request, msg, error);
                     // handle failure
                 }
             });
         }, $(modal_form).find('form'), http_verb, api_url));
 }

 function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie !== '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
             var cookie = cookies[i].trim();
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
             }
         }
     }
     return cookieValue;
 }

 function reset_results_height() {
     // collect the elements, get their height, sum the values, assign the rest to the results box
     var stealing = $('.stealing-height-from-results').map(function (i, x) { return parseInt($(x).css('height'))})
     var stolen = Object.values(stealing).slice(0, stealing.length).reduce((t, i) => t + i + 2)
     $('#results-box').css('height', '{}px'.format(window.innerHeight - stolen))
 }

 $(function() {  // run at document ready
     $('#search-filter').on('keypress', function (e) {
         if(e.which === 13) {
             lookup(e);
         }
     });
     csrf_token = getCookie('csrftoken');

     $('#search-filter-button').click(lookup);
     search_history = [];
     forward_history = [];
     $('#pop-from-history').click(partial(follow_history, search_history, forward_history));
     $('#forward-in-history').click(partial(follow_history, forward_history, search_history));
     $('#clean-history').click(clean_history);

     $("body").bind('contextmenu', function (e) {
         e.preventDefault(); // prevents default menu
     });
     // register action on modal activation
     $('#drop-insert,.context-menu.dropdown-menu').find('.dropdown-item').click(perform_on_selected);
     window.addEventListener("resize", reset_results_height)
     reset_results_height()
 });
</script>
  </head>
  <body class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light navbar-light stealing-height-from-results">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><img src="{% static 'taxasoft-32.png' %}"/></a>
      <a class="navbar-brand" href="#"><img src="{% static 'ghini-32.png' %}"/></a>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" id="drop-insert" >
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Insert</a>
          <div class="dropdown-menu" id="insert-menu">
            <a class="dropdown-item" id="new-edit-taxon-POST" href="#" data-form-url="{% url 'taxon-post-form' %}">Taxon</a>
            <a class="dropdown-item" id="new-edit-contact-POST" href="#" data-form-url="{% url 'contact-post-form' %}">Contact</a>
            <a class="dropdown-item" id="new-edit-accession-POST" href="#" data-form-url="{% url 'accession-post-form' %}">Accession</a>
            <a class="dropdown-item" id="new-edit-location-POST" href="#" data-form-url="{% url 'location-post-form' %}">Location</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="drop-tools" >
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Tools</a>
          <div class="dropdown-menu" id="tools-menu">
            <a class="dropdown-item" href="#">Institution</a>
            <a class="dropdown-item" href="#">Backup</a>
            <a class="dropdown-item" href="#">Import</a>
            <a class="dropdown-item" href="#">Export</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="drop-tags" data-toggle="dropdown">Tags</a>
          <div class="dropdown-menu" id="tags-menu">
            <a class="dropdown-item" href="#">Apply Tag</a>
          </div>
        </li>
      </ul>
      <div class="navbar-nav col-sm-8">
        <div class="input-group">
          <button class="btn btn-light" id="pop-from-history">
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-light" id="forward-in-history">
            <span class="fa fa-arrow-right"></span>
          </button>
          <button class="btn btn-light" id="clean-history">
            <span class="fa fa-paint-brush"></span>
          </button>
          <span class="btn-separator"></span>
          <input type="text" class="form-control" id="search-filter" placeholder="your garden search">
          <div class="input-group-append">
            <button class="btn btn-success" id="search-filter-button">
              <span class="fa fa-refresh"></span>
            </button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-success" id="query-builder-button">
              <span class="fa fa-gears"></span>
            </button>
          </div>
        </div>
      </div>

    </nav>

    <!-- here each object has an id which indicates what it does.  made up of four parts, it's:
         (1) the class name of the root object, the one to which the edit is related.
         compare with the above drop down menu, where this part is 'new';
         (2) a verb, identifying the form that has to be activated, it's either edit or delete;
         (3) the class name of the object we will edit, it helps us locate the table that we need copy into the form;
         (4) the http verb to be executed if the form is confirmed.
         (5) this one is optional, I'm not sure we need it.

         $('.context-menu.dropdown-menu').find('.dropdown-item').map((i, e) => [e.id.split('-')])
         $('#drop-insert').find('.dropdown-item').map((i, e) => [e.id.split('-')])
    -->
    <div id="ContextMenu-Accession" class="context-menu dropdown-menu">
      <a class="dropdown-item" id="accession-edit-accession-PUT" href="#">Edit</a>
      <a class="dropdown-item" id="accession-edit-verification-POST" href="#">Add verification</a>
      <a class="dropdown-item" id="accession-edit-plant-POST" href="#">Add Plant</a>
      <a class="dropdown-item" id="accession-delete-accession-DELETE" href="#">Delete</a>
    </div>

    <div id="ContextMenu-Plant" class="context-menu dropdown-menu">
      <a class="dropdown-item" id="plant-edit-plant-PUT" href="#">Edit</a>
      <a class="dropdown-item" id="plant-edit-plant-POST-split" href="#">Split Plant</a>
      <a class="dropdown-item" id="plant-delete-plant-DELETE" href="#">Delete</a>
    </div>

    <div id="ContextMenu-Location" class="context-menu dropdown-menu">
      <a class="dropdown-item" id="location-edit-location-PUT" href="#">Edit</a>
      <a class="dropdown-item" id="location-delete-location-DELETE" href="#">Delete</a>
    </div>

    <div id="ContextMenu-Contact" class="context-menu dropdown-menu">
      <a class="dropdown-item" id="contact-edit-contact-PUT" href="#">Edit</a>
      <a class="dropdown-item" id="contact-edit-verification-POST" href="#">Add verification</a>
      <a class="dropdown-item" id="contact-delete-contact-DELETE" href="#">Delete</a>
    </div>

    <div id="ContextMenu-Taxon" class="context-menu dropdown-menu">
      <a class="dropdown-item" id="taxon-edit-taxon-PUT" href="#">Edit</a>
      <a class="dropdown-item" id="taxon-edit-taxon-POST-subtaxon" href="#">Add sub taxon</a>
      <a class="dropdown-item" id="taxon-edit-verification-POST" href="#">Add verification</a>
      <a class="dropdown-item" id="taxon-delete-taxon-DELETE" href="#">Delete</a>
    </div>

    <div class="row">
      <div class="col-7 stealing-height-from-results">
        <table class="table">
          <thead>
            <tr>
              <th>results list</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-5">
        <table class="table">
          <thead>
            <tr>
              <th>info box for selected row</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row" >
      <div class="col-7" style="overflow-y:scroll" id="results-box">
        <table class="table table-hover">
          <tbody id="results-table-body">
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <h5 id="infobox-object-text"></h5>
        <table class="table">
          <tbody id="infobox-table-body">
          </tbody>
        </table>
      </div>
    </div>

    <!-- we only have two modal forms: delete and edit. -->
    <div class="modal" id="modal-form-delete">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirm Deletion</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="modal-delete-tbody">

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger action-confirm" data-dismiss="modal">Delete</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal" id="modal-form-edit">
      <div class="modal-dialog modal-lg">
        <form class="modal-content">
          {% csrf_token %}

          <!-- Modal Header --><!-- we change the title -->
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body --><!-- we clone the generated form into this element -->
          <div class="modal-body">

          </div>

          <!-- Modal footer --><!-- we change the primary action -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary action-confirm" data-dismiss="modal">Save</button>
          </div>

        </form>
      </div>
    </div>
    {% endblock %}
    <!-- https://fontawesome.com/v4.7.0/icon/caret-left
         https://fontawesome.com/v4.7.0/icon/th-list
         https://fontawesome.com/v4.7.0/icon/list-ol    -->
