{% extends "base.html" %}
{% load static %}
{% load thumbnails %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
 body {
     background: grey;
 }

 * {
     box-sizing: border-box;
 }

 /* Position the image container (needed to position the left and right arrows) */
 .container {
     position: relative;
 }

 /* Hide the images by default */
 .mySlides {
     display: none;
 }

 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
     cursor: pointer;
 }

 /* Next & previous buttons */
 .prev,
 .next {
     cursor: pointer;
     position: absolute;
     top: 0;
     width: auto;
     height: 100%;
     padding: 32px 16px;
     color: black;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
 }

 /* Position the "next button" to the right */
 .next {
     right: 16px;
     border-radius: 0 3px 0 3px;
 }

 /* On hover, add a background color with enough see-through */
 .prev:hover,
 .next:hover {
     background-color: rgba(200, 250, 0, 0.4);
 }

 /* Container for image text */
 .caption-container {
     font-weight: bold;
     font-size: 18px;
     text-align: center;
     background-color: #222;
     padding: 2px 16px;
     color: white;
 }

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 /* Six columns side by side */
 .column {
     float: left;
     width: 16.66%;
 }

 /* Add a transparency effect for thumnbail images */
 .demo {
     padding-right: 8px;
     opacity: 0.6;
 }

 .active,
 .demo:hover {
     opacity: 1;
 }
</style>
<script>
 var slideIndex = 1;
 showSlides(slideIndex);

 // Next/previous controls
 function plusSlides(n) {
     showSlides(slideIndex += n);
 }

 // Thumbnail image controls
 function currentSlide(n) {
     showSlides(slideIndex = n);
 }

 function showSlides(n) {
     var slides = $(".mySlides");
     if (slides.length === 0) { return };
     var dots = $(".demo.cursor");
     if (n > slides.length) { slideIndex = 1 }
     else if (n < 1) { slideIndex = slides.length };
     $(slides).css('display', 'none');
     $(dots).removeClass('active');
     $(slides[slideIndex-1]).css('display', "block");
     $(dots[slideIndex-1]).addClass("active");
     $("#caption").text($(dots[slideIndex-1]).attr('alt'));
 }
 $(function() {  // run at document ready
     $(document).prop('title', "{{ images.count }} pics : {{ object_name }}");
     showSlides(1);
 })
</script>
</head>
<body>
  <!-- Image text -->
  <div class="caption-container">
    <p id="caption">&nbsp;</p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    {% for image in images.all %}
    {% get_thumbnail image.image.path "300x200" as thumbnail %}
    <div class="column">
      <img class="demo cursor" src="{{ thumbnail.url }}" style="width:100%" onclick="currentSlide({{ forloop.counter }})" alt="{{ object_name }} - {{ image.image.name }}">
    </div>
    {% endfor %}
  </div>

  <div class="container">
    {% for image in images.all %}
    <div class="mySlides">
      <img src="{{ image.image.url }}" style="width:100%">
    </div>
    {% endfor %}

    <!-- Next and previous buttons -->
    <i class="prev fa fa-arrow-left" onclick="plusSlides(-1)"></i>
    <i class="next fa fa-arrow-right" onclick="plusSlides(1)"></i>

  </div>
  
  {% endblock %}
